{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    dd{
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        
    }
    h1{
        font-size: 30px;
        color: brown;
        font-weight: bolder;
    }
</style>
<section id="main-content">
  <section class="wrapper">
    <div class="row mt">
      <div class="col-lg-12">
        <center>
        <div class="row content-panel">
          <div class="profile-pic">
            <p>
            {% if user.picture %}
              <img src="{{ user.picture.url }}" class="img-circle">
              {% else %}
              <img src="{% static 'img/pic.jpg' %}" class="img-circle" width="80" height="80">  
              {% endif %}
            </p>
          </div>
          <hr>
          <div style="font-size: large; font-weight: bolder; font-style: italic; color:black; ">
            <h1>{{user.username}}</h1>
            <h2>{{user.role.rolename}}</h2>
            <h3>{{user.email}}</h3>
            <h3>{{user.phone_number}}</h3>
          </div>
            <br>
        </div>
      </center>    
      </div>
      <div class="row mt">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <h4 style="font-size: 20px; color: brown; font-weight: bolder;">Update Profile</h4>
            <div class="form">
                <form role="form" class="form-horizontal style-form" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        {{ form.username | as_crispy_field }}
                        {{ form.phone_number | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.picture | as_crispy_field }}
                        <br>
                        <h4>address</h4>
                        {{ form.address | as_crispy_field }}
                        {{ form.city | as_crispy_field }}
                        {{ form.state | as_crispy_field }}
                        {{ form.pincode | as_crispy_field }}
                        {{ form.country | as_crispy_field }}
                        <br>
                    </div>
                    <button type="submit" class="btn btn-success">update</button>
                </form>
            </div>
        </div>
    </div>
    </div>
  </section>
</section>
{% endblock content %}